.wrapper {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100%;
    background-color: hsl(218, 41%, 15%);
    background-image: radial-gradient(650px circle at 0% 0%,
        hsl(218, 41%, 35%) 15%,
        hsl(218, 41%, 30%) 35%,
        hsl(218, 41%, 20%) 75%,
        hsl(218, 41%, 19%) 80%,
        transparent 100%),
      radial-gradient(1250px circle at 100% 100%,
        hsl(218, 41%, 45%) 15%,
        hsl(218, 41%, 30%) 35%,
        hsl(218, 41%, 20%) 75%,
        hsl(218, 41%, 19%) 80%,
        transparent 100%);
    
}
.fw-light{
    font-family: 'Roboto Condensed', sans-serif;
}

.logo {
    align-content: center;
    align-items: center;
    margin-top: 0px;
    height: 130px;
    margin-bottom: 10px;
}

.bg-glass {
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 15px;
    text-align: center;
    background-color: rgba(255, 254, 254, 0.858);
    transition: all 0.3s ease-in-out;
}

.bg-glass:hover {
    box-shadow: 10px 10px 10px  rgba(5, 24, 41, 0.614);
}

.form-control {
    transition: all 0.3s ease-in-out;
}

.form-control:hover {
    box-shadow: 5px 5px 5px  rgba(13, 62, 106, 0.614);
}


.btn-sm {
    align-items: center;
    text-align: center;
}



.ingresaButton {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
    padding: 0.8em 0.2em 0.8em 6.4em;
    color: white;
    background: #ad5389;
    background: linear-gradient(to right, #07225d, #081c78, #080829);
    border: none;
    letter-spacing: 0.05em;
    border-radius: 16px;
   }
   
   .ingresaButton svg {
    margin-right: 3px;
    transform: rotate(30deg);
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
   }
   
   .ingresaButton span {
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
   }
   
   .ingresaButton:hover svg {
    transform: translateX(5px) rotate(90deg);
   }
   
   .ingresaButton:hover span {
    transform: translateX(7px);
   }